.card {
    background: rgb(12, 8, 6);
    border-radius: 1px;
    box-shadow: 0 3px 6px, 0 3px 6px #999;
    text-align: center;
}

.card>.img-container {
    overflow: hidden;
    text-align: center;
    background: black;
    justify-content: center;
    margin: 15px;
}

.card>.img-container>img {
    width: 150px;
}